<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="footer-col aboutus">
                        <h5>About Us</h5>
                        <p>
                            I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet,
                            consectetur. I am text block. Click edit button to change this text. Lorem ipsum dolor
                            sit amet, consectetur.
                        </p>
                        <p>
                            We are the champions! We are the most amazing theme of all time, yeah.
                        </p>

                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-col whywe">
                        <h5>Why we are special?</h5>
                        <ul>
                            <li class="d-flex">
                                <span><i class="fas fas fa-chevron-right bg-color-accent"></i></span><p>Our magical recipe.</p>
                            </li>
                            <li class="d-flex">
                                <span><i class="fas fas fa-chevron-right bg-color-accent"></i></span><p>We care about environment.</p>
                            </li>
                            <li class="d-flex">
                                <span><i class="fas fas fa-chevron-right bg-color-accent"></i></span><p>We are trusted by hundreds of clients.</p>
                            </li>
                            <li class="d-flex">
                                <span><i class="fas fas fa-chevron-right bg-color-accent"></i></span><p>Social media loves us!</p>
                            </li>
                            <li class="d-flex last-li">
                                <span><i class="fas fas fa-chevron-right bg-color-accent"></i></span><p>This list is super easy to create.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-col openingHours">
                        <h5>Opening Hours</h5>
                        <ul>
                            <li class="d-flex">
                                <span><i class="fas fas fa-chevron-right bg-color-accent"></i></span><p>Monday 10AM - 9PM</p>
                            </li>
                            <li class="d-flex">
                                <span><i class="fas fas fa-chevron-right bg-color-accent"></i></span><p>Tuesday 10AM - 9PM</p>
                            </li>
                            <li class="d-flex">
                                <span><i class="fas fas fa-chevron-right bg-color-accent"></i></span><p>Wednesday 10AM - 9PM</p>
                            </li>
                            <li class="d-flex">
                                <span><i class="fas fas fa-chevron-right bg-color-accent"></i></span><p>Thursday 10AM - 10PM</p>
                            </li>
                            <li class="d-flex">
                                <span><i class="fas fas fa-chevron-right bg-color-accent"></i></span><p>Friday 10AM - 10PM</p>
                            </li>
                            <li class="d-flex last-li">
                                <span><i class="fas fas fa-chevron-right bg-color-accent"></i></span><p>Weekends 10AM - 11PM</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="gg">
                        <div class="footer-col contactDetails">
                            <h5>Contact Details</h5>
                            <ul>
                                <li class="d-flex">
                                    <span><i class="fas fas fa-chevron-right bg-color-accent"></i></span><p>Manchester Road 123-78B, Silictown 7854MD, Great Country</p>
                                </li>
                                <li class="d-flex">
                                    <span><i class="fas fas fa-chevron-right bg-color-accent"></i></span><p><a href="tel:+46 123 456 789">+46 123 456 789</a></p>
                                </li>
                                <li class="d-flex">
                                    <span><i class="fas fas fa-chevron-right bg-color-accent"></i></span><p><a href="mailto:hello@sitename.com">hello@sitename.com</a></p>
                                </li>
                                <li class="d-flex last-li">
                                    <span><i class="fas fas fa-chevron-right bg-color-accent"></i></span><p><a href="http://www.sitename.com">http://www.sitename.com</a></p>
                                </li>
                            </ul>
                        </div>
                        <div class="contact-overlay">
                            <img src="../../assets/images/contact-details-map.png" alt="map" class="w-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <img src="../../assets/images/bakery-light-1.png">
        <p>Copyright 2017. All rights reserved.</p>
        <div class="social">
            <a href="#" class="facebook"><i class="fab fa-facebook-f fa-fw"></i></a>
            <a href="#" class="google"><i class="fab fa-google-plus-g fa-fw"></i></a>
            <a href="#" class="linkedin"><i class="fab fa-linkedin fa-fw"></i></a>
            <a href="#" class="twitter"><i class="fab fa-twitter fa-fw"></i></a>

        </div>
    </div>

    <button id="backToTopButton"><span><i class="fas fas fa-chevron-up bg-color-accent"></i></span></button>

</footer>