<header id="galleryHeader">
  <div class="headeroverlay">
    <div class="weight-area"></div>

    <div
      class="d-flex justify-content-center align-items-center gallery-hight text-light text-center"
    >
      <div class="galleryHeaderContent">
        <h1>Gallery</h1>
        <p>Awesome gallery showcasing our artisan bakings.</p>
      </div>
    </div>
  </div>
</header>

<!-- ------------------------------------------------------------ -->
<section id="gallery">
  <div class="container-lg">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-xl-4">
        <div class=" position-relative overflow-hidden">
          <div class="img-container">
            <!-- <img src="../../assets/images/alexandru-stavrica-170390-800x760.jpg" class="w-100"> -->
            <div class="img img-1"></div>
            <div class="img-overlay" carousel-item="1">
              <i class="fab fa-facebook text-white"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-4">
        <div class=" position-relative overflow-hidden">
          <div class="img-container">
            <!-- <img src="../../assets/images/alexandru-stavrica-170390-800x760.jpg" class="w-100"> -->
            <div class="img img-2"></div>
            <div class="img-overlay" carousel-item="2">
              <i class="fab fa-facebook text-white"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-4">
        <div class=" position-relative overflow-hidden">
          <div class="img-container">
            <!-- <img src="../../assets/images/alexandru-stavrica-170390-800x760.jpg" class="w-100"> -->
            <div class="img img-3"></div>
            <div class="img-overlay" carousel-item="3">
              <i class="fab fa-facebook text-white"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-4">
        <div class=" position-relative overflow-hidden">
          <div class="img-container">
            <!-- <img src="../../assets/images/alexandru-stavrica-170390-800x760.jpg" class="w-100"> -->
            <div class="img img-4"></div>
            <div class="img-overlay" carousel-item="4">
              <i class="fab fa-facebook text-white"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-4">
        <div class=" position-relative overflow-hidden">
          <div class="img-container">
            <!-- <img src="../../assets/images/alexandru-stavrica-170390-800x760.jpg" class="w-100"> -->
            <div class="img img-5"></div>
            <div class="img-overlay" carousel-item="5">
              <i class="fab fa-facebook text-white"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-4">
        <div class=" position-relative overflow-hidden">
          <div class="img-container">
            <!-- <img src="../../assets/images/alexandru-stavrica-170390-800x760.jpg" class="w-100"> -->
            <div class="img img-6"></div>
            <div class="img-overlay" carousel-item="6">
              <i class="fab fa-facebook text-white"></i>
            </div>
          </div>
        </div>
      </div>
      
      </div>
    </div>
</section>
<section>
    <div id="carouselExampleIndicators" class="carousel slide  align-items-center justify-content-center" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="indicator-1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1" class="indicator-2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2" class="indicator-3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3" class="indicator-4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4" class="indicator-5"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5" class="indicator-6"></li>

        </ol>
        <div class="carousel-inner">
          <div class="carousel-item carousel-img-1 ">
            <img class="d-block m-auto" src="../../assets/images/roman-kraft-56589.jpg" alt="First slide">
          </div>
          <div class="carousel-item carousel-img-2">
            <img class="d-block m-auto" src="../../assets/images/gallery-slider/ben-garratt-134774.jpg" alt="Second slide">
          </div>
          <div class="carousel-item carousel-img-3">
            <img class="d-block m-auto" src="../../assets/images/gallery-slider/clem-onojeghuo-206832.jpg" alt="Third slide">
          </div>
          <div class="carousel-item carousel-img-4">
            <img class="d-block m-auto" src="../../assets/images/gallery-slider/full-2.jpg" alt="Third slide">
          </div>
          <div class="carousel-item carousel-img-5">
            <img class="d-block m-auto" src="../../assets/images/gallery-slider/stas-ovsky-123540.jpg" alt="Third slide">
          </div>
          <div class="carousel-item carousel-img-6">
            <img class="d-block m-auto" src="../../assets/images/gallery-slider/alexandru-stavrica-170390.jpg" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <i class="fab fa-alipay"></i>
      </div>
</section>