<header id="galleryHeader">
  <div class="headeroverlay">
    <div class="weight-area"></div>

    <div
      class="d-flex justify-content-center align-items-center gallery-hight text-light text-center"
    >
      <div class="galleryHeaderContent d-flex justify-content-between w-75">
        <h1>Blog</h1>
        <p><a href="#" class=" px-2">Home</a> / <span class="px-2">Blog</span></p>
      </div>
    </div>
  </div>
</header>

<!-- ------------------------------------------------------------ -->

<section id="blog">
  <div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-9 articles ">
          <div class="articles-colum">
            <div class="article">
              <div class="article-content">
                <img src="../../assets/images/alexandru-stavrica-170390-800x760.jpg" class="w-100" alt="">
                 <div class="article-info">
                  <h4>article name</h4>
                <p class="created-at-p">By <span class="author-span">Philip</span> on <span class="created-at-span">April 22, 2017</span></p>
                <p class="article-desc-p">
                  Contrary to popular belief, Lorem Ipsum isn’t simply random text. It has roots in Virginia Contrary piece of classical Latin literature from 45 BC, making...
                </p>
                <a href="#">Read More <span><i class=" fa fa-arrow-right"></i></span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="articles-colum">
            <div class="article">
              <div class="article-content">
                <img src="../../assets/images/ben-garratt-134774-600x500.jpg" class="w-100" alt="">
               <div class="article-info">
                  <h4>article name</h4>
                <p class="created-at-p">By <span class="author-span">Philip</span> on <span class="created-at-span">April 22, 2017</span></p>
                <p>
                  Contrary to popular belief,  It has roots in Virginia Contrary piece of classical Latin literature from 45 BC, making...
                </p>
                <a href="#"><span class="read-more">Read More</span> <span><i class=" fa fa-arrow-right"></i></span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="articles-colum">
            <div class="article">
              <div class="article-content">
                <img src="../../assets/images/" class="w-100" alt="">
               <div class="article-info">
                  <h4>article name</h4>
                <p class="created-at-p">By <span class="author-span">Philip</span> on <span class="created-at-span">April 22, 2017</span></p>
                <p>
                  Contrary to popular belief, Lorem Ipsum isn’t simply random text. It has roots in Virginia Contrary piece of classical Latin literature from 45 BC, making...
                </p>
                <a href="#">Read More <span><i class=" fa fa-arrow-right"></i></span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="articles-colum test">
            <div class="article">
              <div class="article-content">
                <img src="../../assets/images/ben-garratt-134774-600x500.jpg" class="w-100" alt="">
               <div class="article-info">
                  <h4>article name</h4>
                <p class="created-at-p">By <span class="author-span">Philip</span> on <span class="created-at-span">April 22, 2017</span></p>
                <p>
                  Contrary to popular belief, Lorem Ipsum isn’t simply random text. It has roots in Virginia Contrary piece of classical Latin literature from 45 BC, making...
                </p>
                <a href="#">Read More <span><i class=" fa fa-arrow-right"></i></span></a>
                </div>
              </div>
            </div>
            </div>
            <!-- <div class="clr"></div> -->
        </div>
        <div class="col-md-12 col-lg-3 side-bar"></div>
    </div>
  </div>
</section>
